@{
    ViewBag.Title = "Home Page";
}
<div id="IndexPage" style="width: 500px; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Master Child Sample</h2>
            <p>
                <a href="/Category/MasterChild" id="masterChild" class="button">JQDialog Notify</a>
            </p>
        </div>
        <div>
            <h2>
                Select Row From Popup Sample</h2>
            <p>
                <a href="/Category/SelectItems" id="selectItems" class="button">Select Multi Row From
                    Grid</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Click Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Click Sample</h2>
            <p>
                <a href="#" id="" class="button">Click Grid</a>
            </p>
        </div>
    </div>
</div>
