
.button
{
    position: relative !important;
    margin: 0px !important;
    padding: 5px 10px !important;
    background: none repeat scroll 0 0 #CCCCCC !important;
    border: 1px solid #AAAAAA !important;
    color: #222222 !important;
    font-size: 14px !important;
    letter-spacing: 1px !important;
    border-radius: 2px !important;
    -webkit-border-radius: 2px !important;
    -moz-border-radius: 2px !important;
    text-decoration: none !important;
}

.button:hover
{
    background: none repeat scroll 0 0 #E8EEF4 !important;
    text-decoration: none !important;
    cursor: pointer !important;
}

.button:active
{
    background: none repeat scroll 0 0 #E8EEF4 !important;
    text-decoration: none !important;
}
