<h2>
    Base Menu: Base Controller Menu Mode</h2>
<div id="basicMainMenuZone">
    <div id="basicMainMenuForm">
        <div>
            @Html.Partial("_MenuPartial")
        </div>
    </div>
</div>
