@*@model IEnumerable<RnD.KendoUISample.ViewModels.MenuViewModel>*@
@{
    ViewBag.Title = "Menu";
    List<RnD.KendoUISample.ViewModels.MenuViewModel> Model = ViewBag.Menu;
}
<h2>
    Menu: Main Mode</h2>
<div id="basicMainMenuZone">
    <div id="basicMainMenuForm">
        <div id="ObjMenuDiv">
            @(Html.Kendo().Menu()
      .Name("ObjMenu")
      .BindTo(Model, mappings =>
      {
          mappings.For<RnD.KendoUISample.ViewModels.MenuViewModel>(binding => binding
                    .ItemDataBound((item, menu) =>
                    {
                        item.Text = menu.MenuText;
                        item.ImageUrl = menu.MenuImageUrl;
                        item.Url = menu.MenuUrl;
                        item.SpriteCssClasses = menu.MenuSpriteCssClass;
                        item.Selected = menu.IsSelected;
                    })
                    .Children(menu => menu.SubMenuViewModels));
          mappings.For<RnD.KendoUISample.ViewModels.MenuViewModel>(binding => binding
                    .ItemDataBound((item, subMenu) =>
                    {
                        item.Text = subMenu.MenuText;
                        item.ImageUrl = subMenu.MenuImageUrl;
                        item.Url = subMenu.MenuUrl;
                        item.SpriteCssClasses = subMenu.MenuSpriteCssClass;
                        item.Selected = subMenu.IsSelected;
                    }));
      })
)
        </div>
    </div>
</div>
