@{
    ViewBag.Title = "Asynchronous Upload";
}
<h2>
    Upload: Asynchronous Mode</h2>
<div id="kendoUploadZone">
    <div id="kendoUploadForm">
        <div id="kendoUploadControl">
            @(Html.Kendo().Upload()
                          .Name("files").Async(a => a
                                .Save("AsyncSave", "Upload")
                                .Remove("AsyncRemove", "Upload")
                        .AutoUpload(true)
                    ))
        </div>
        <div id="kendoUploadDisplay">
        </div>
    </div>
</div>
