@model RnD.KendoUISample.Models.Category
<fieldset>
    <legend>Category:</legend>
    <div class="display-field">
        <strong>Category Name: </strong>@Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
