@{
    ViewBag.Title = "Category";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Kendo UI Grid Sample</h2>
            <p>
                <a href="/Category/Basic" class="button">Kendo UI Basic Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid CRUD InCell Sample</h2>
            <p>
                <a href="/Category/InCell" class="button">Kendo UI Grid CRUD InCell</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid CRUD PopUp Sample</h2>
            <p>
                <a href="/Category/PopUp" class="button">Kendo UI Grid CRUD PopUp</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid CRUD Custom PopUp Sample</h2>
            <p>
                <a href="/Category/Dialog" class="button">Kendo UI Grid CRUD Custom PopUp</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid CRUD Kendo UI Window Sample</h2>
            <p>
                <a href="/Category/Window" class="button">Kendo UI Grid CRUD Kendo UI Window</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid CRUD Kendo UI Window By OneLink Sample</h2>
            <p>
                <a href="/Category/WindowLink" class="button">Kendo UI Grid CRUD Kendo UI Window By
                    OneLink</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid CRUD Kendo UI Window By Global Sample</h2>
            <p>
                <a href="/Category/WindowGlobal" class="button">Kendo UI Grid CRUD Kendo UI Window By
                    Global</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Kendo UI Grid Select Single Row From PopUp Kendo UI Grid Sample</h2>
            <p>
                <a href="/Category/SelectSingleItems" class="button">Select Single Row From PopUp Kendo
                    UI Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid Select Multi Row From PopUp Kendo UI Grid Sample</h2>
            <p>
                <a href="/Category/SelectMultiItems" class="button">Select Multi Row From PopUp Kendo
                    UI Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid Custom Toolbar Sample Like Filter Clear</h2>
            <p>
                <a href="/Category/Toolbar" class="button">Custom Toolbar</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Cascading Dropdownlist Sample</h2>
            <p>
                <a href="/Category/CascadingDropdownlist" class="button">Cascading Dropdownlist</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid Custom Details Using Inner ListView</h2>
            <p>
                <a href="/Category/GridInnerDetailsListView" class="button">Grid Inner ListView Details</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI ListView Custom Details Using Inner ListView</h2>
            <p>
                <a href="/Category/ListViewInnerDetailsListView" class="button">ListView Inner ListView Details</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" class="button">Click</a>
            </p>
        </div>
         <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
