@model RnD.KendoUISample.ViewModels.ImportFileViewModel
@using (Html.BeginForm("ImportFromXls", "Product", null, FormMethod.Post, new { enctype = "multipart/form-data", id = "importFromExcelForm" }))
{
    
    <fieldset>
        <legend>Product:</legend>
        @Html.ValidationSummary(true)
        <div id="importFromExcelMess" class="error invisible">
        </div>
        <div class="editor-field">
            <strong>@Html.LabelFor(model => model.ImportFile): </strong>
            @Html.TextBoxFor(model => model.ImportFile, new { type = "file" })
            @*<input type="file" id="ImportFile" name="ImportFile" data-val-required="File is required."
                data-val="true" />*@
            @Html.ValidationMessageFor(model => model.ImportFile)
        </div>
    </fieldset>
}
