@{
    ViewBag.Title = "Product";
}
<div id="indexPage" style="width: 100%; display: inline-block;">
    <div style="float: left; width: 50%; display: inline-block;">
        <div>
            <h2>
                Kendo UI Add To Grid Sample</h2>
            <p>
                <a href="/Product/AddToGrid" id="" class="button">Kendo UI Add To Grid</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Master Details Sample</h2>
            <p>
                <a href="/Product/MasterDetails" id="" class="button">Kendo UI Master Details</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid Export To CSV and Excel Sample</h2>
            <p>
                <a href="/Product/DataExport" id="" class="button">Kendo UI Grdi Export To CSV and Excel</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid Import To CSV and Excel Sample</h2>
            <p>
                <a href="/Product/DataImport" id="" class="button">Kendo UI Grdi Import To CSV and Excel</a>
            </p>
        </div>
        <div>
            <h2>
                Kendo UI Grid Cell Calculate Sample</h2>
            <p>
                <a href="/Product/CellCalculate/1" id="" class="button">Kendo UI Grid Cell Calculate</a>
            </p>
        </div>
    </div>
    <div style="float: right; width: 50%; display: inline-block;">
        <div>
            <h2>
                Kendo UI Grid Row Custom Like Dropdown Sample</h2>
            <p>
                <a href="/Product/RowCustom" id="" class="button">Kendo UI Grid Row Custom Like Dropdown</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
        <div>
            <h2>
                Sample</h2>
            <p>
                <a href="#" id="" class="button">Click</a>
            </p>
        </div>
    </div>
</div>
